<div class="text-center">
    <h1 class="">Thanks! We got your order</h1>
    <h3 class="">Your total is {{priceFixed summary}}</h3>
    <h4 class="">We will prepare your order as soon as possible!</h4>
    {{> back-home}}
</div>

